#footer {
    background-color: $footercolor;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    .logo img {
        @include logo (165px);
    }
    .enlaces p {
        font-size: 20px;
        padding: 20px;
    }
    .icono img {
        width: 20px;
        height: 20px;
    }
    .icono {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    .cate {
        text-align: center;
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}
