#header {
    height: 120px;
    background-color: $headercolor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 1s;
    .logo img {
        @include logo (128px);
    }
    .menu {
        ul {
            display: flex;
            gap: 25px;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    ul li a:hover {
        background-color: $menu;
        padding: 10px;
    }
}