#header {
    height: 90px;
    background-color: $headercolor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 1s;
    .logo img {
        width: 200px;
        animation-name: mi-efecto;
        animation-duration: 2s;
    }
    .menu {
        padding-right: 60px;
        ul {
            display: flex;
            gap: 25px;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: black;
                    :hover {
                        background-color: $menu;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .menu-hamburguesa {
        display: none;
    }
}