@import "_vars.scss";
@import "_mixin.scss";
@import "_header.scss";
@import "_media";
@import "_footer.scss";

@keyframes mi-efecto {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

$colorPerfil: dark;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        h1 {
            padding: 20px;
        }
        
        h2 {
            padding: 40px;
        }
        
        p {
            margin: 1vh;
            padding-left: 2vh;
            font-size: 15px;
        }
        #flex-container {
            padding: 32px;
            display: flex;
            gap: 30px;
            flex-flow: row wrap;
            justify-content: center;
            .flex-items {
                @include items;
                img {
                    @include img;
                }
                .precio {
                    color: rgb(6, 136, 6);
                }
            }
        }
        .portada img {
            width: 100%;
        }
        #flex-container-nosotros {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            p {
                text-align: center;
            }
            .info {
                text-align: center;
                padding: 13px;
                .mapa {
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                }
            }
        }
        .perfil {
            padding: 25px;
            text-align: center;
            a {
                @if $colorPerfil == dark {
                    font-size: 20px;
                    text-decoration: none;
                } @else {
                    color: rgb(5, 5, 80);
                }
            }
            a:active {
                color: rgb(112, 122, 209);
            }
        }
        .sesion {
            padding: 63px;
            text-align: center;
            a {
                font-size: 15px;
                color: red;
                text-decoration: none;
            }
        }
        #main {
            .flex-container2 {
                padding: 20px;
                display: grid;
                justify-content: center;
                gap: 30px;
                .flex-items {
                    @include items;
                    img {
                        @include img;
                    }
                    .verde {
                        color:  rgb(97, 190, 79);
                    }
                }
            }
        }
        h3 {
            text-align: center;
        }
        .fondo {
            background-image: url(../img/pexels-george-milton-7015073.jpg);
            background-attachment: fixed;
        }
        #contenedor-forms {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding: 130px;
            .forms {
                display: flex;
                flex-direction: column;
                gap: 18px;
                justify-content: center;
                .form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                input {
                    width: 250px;
                    height: 40px;
                }
                textarea {
                    width: 250px;
                    height: 110px;
                }
                .bottom {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;
                    height: 60px;
                }
            }
        }
        .contactanos {
            text-align: center;
            padding-top: 90px;
        }
    }
}